body {
  min-height: 1000px;
}

// if
@mixin profile-pic($size, $circle: false) {
  width: $size;
  height: $size;
  border: 4px solid white;
  box-shadow: 1px 1px 3px rgba($color: #333, $alpha: 0.3);

  @if $circle {
    border-radius: 50%;
  }
}

.square-profile {
  @include profile-pic(200px, $circle: false);
}

.circle-profile {
  @include profile-pic(80px, $circle: true);
}

// else
$light-bg: #eaeaea;
$light-text: #333;
$dark-bg: #999;
$dark-text: #ddd;

@mixin color-mode($light-mode: true) {
  @if $light-mode {
    background-color: $light-bg;
    color: $light-text;
  } @else {
    background-color: $dark-bg;
    color: $dark-text;
  }
}

.nav {
  @include color-mode($light-mode: true);
}

// else if

@mixin triangle($size, $color, $direction) {
  width: 0;
  height: 0;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: $size/2;

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else {
    border-top-color: $color;
  }
}
.triangle-right {
  @include triangle(2em, black, right);
}
.triangle-down {
  @include triangle(2em, black, down);
}
.triangle-up {
  @include triangle(2em, black, up);
}
.triangle-left {
  @include triangle(2em, black, left);
}

// for
// $color: blue;
// .gradient {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   @for $i from 1 to 11 {
//     li:nth-child(#{$i}) {
//       padding: 4x;
//       background-color: lighten($color, $i * 3%);
//     }
//   }
// }

// whilw
$color: blue;
.gradient {
  margin: 0;
  padding: 0;
  list-style: none;
  $i: 1;
  @while $i < 11 {
    li:nth-child(#{$i}) {
      padding: 4x;
      background-color: lighten($color, $i * 3%);
    }
    $i: $i + 1;
  }
}

// each
$search-colors: (
  google: #ff0000,
  yahoo: #ffbf34,
);

.search {
  font-size: 2em;
  font-family: arial;
  font-weight: bold;

  @each $search, $color in $search-colors {
    .#{$search} {
      color: $color;
    }
  }
}
